.editor-wrapper {
  display: flex;
  width: 100%;
  height: 500px;
  border: 1px solid #444;
  background: #1e1e1e;
}

.sidebar {
  width: 50px;
  padding: 5px;
  text-align: right;
  color: #888;
  background: #151515;
  border-right: 1px solid #333;
  user-select: none;
}

.line-number {
  height: 20px;
  padding-right: 5px;
  font-size: 15px;
}

.line-number.active {
  color: #fff;
  font-weight: bold;
}

.editor {
  flex: 1;
  height: 100%;
}

.cursor-info {
  margin-top: 10px;
  color: #ddd;
  font-family: monospace;
}
